.App {
  background-color: #86b9e0;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
